@media screen and (max-width: 1536px) {}

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1396px) {}

@media screen and (max-width: 1200px) {
    .dash-board-main-sect .side-nave-box ul li span {
        display: none;
    }
    .dash-board-main-sect .side-nave-box ul li a {
        justify-content: center;
    }

    .navigation-bar-sect .collapse.navbar-collapse {
        display: block !important;
    }

    .my-orders-box {
        padding: 0 15px 60px 15px;
    }
}

@media screen and (max-width: 1024px) {
    .dash-board-main-sect .side-nave-box ul li span {
        display: none;
    }
    .dash-board-main-sect .side-nave-box ul li a {
        padding-left: 0;
    }
}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 820px) {}

@media screen and (max-width: 768px) {
    .my-orders-box {
        padding: 0 15px 60px 15px;
    }

    .dash-board-main-sect .side-nave-box ul li span {
        display: none;
    }

   
}


@media screen and (max-width: 576px) {
    .my-orders-box {
        padding: 0 0 60px 0;
    }
}

@media screen and (max-width: 486px) {
    .my-orders-box {
        padding: 0 0 60px 0;
    }

    .copy-right-sect .copy-right-wrapper {
        flex-wrap: wrap;
        gap: 15px;
    }

    .navigation-bar-sect .navigation-bar {
        gap: 25px;
        padding: 25px 15px 3px 15px;
    }
}


@media screen and (max-width: 376px) {
    .my-orders-box {
        padding: 0 0 60px 0;
    }

    .orders-box-wrapper .item {
        padding: 30px 15px;
    }

    .orders-box-wrapper .item .detaile-box {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        gap: 17px;
    }

    .orders-box-wrapper .item .detaile-box .left {
        width: 100%;
        text-align: center;
    }

    .orders-box-wrapper .item .detaile-box .right {
        width: 100%;
        text-align: center;
    }

    .orders-box-wrapper .item .detaile-box .left .top {
        margin-bottom: 25px;
    }

    .copy-right-sect .copy-right-wrapper {
        flex-wrap: wrap;
        gap: 15px;
    }

    /* .navigation-bar-sect .navigation-bar {
        flex-wrap: wrap;
        gap: 30px;
        padding: 25px 15px 3px 15px;
    } */

}